@page "/UserCredentials"
@attribute [Authorize(Roles = "Admin")]

@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using TrustWaveCarca.Data
@inject ApplicationDbContext DbContext

@if (credentials == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead class="table-dark table-hover">
            <tr>
                <th>Unique LoginID</th>
                <th>Email</th>
                <th>Mobile No</th>
                <th>RegistrationDate</th>
                <th>IsDelete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in credentials)
            {
                <tr>
                    <td>@data.UniqueLoginID</td>
                    <td>@data.Email</td>
                    <td>@data.MobileNo</td>
                    <td>@data.RegistrationDate</td>
                    <td>@data.IsDelete</td>

                </tr>
            }
        </tbody>
    </table>
}


@code{
    private List<UserLoginCredentials> credentials;

    protected override async Task OnInitializedAsync()
    {
        // Fetch users from the AspNetUsers table
        credentials = await DbContext.UserLoginCredentials.ToListAsync();
    }
}