@page "/UserCredentials"
@attribute [Authorize(Roles = "Admin")]

@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using TrustWaveCarca.Data
@inject ApplicationDbContext DbContext

<div class="container-fluid px-2">
    <h3>User Credentials</h3>
    @if (credentials == null)
    {
        <p class="text-center">Loading...</p>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-striped table-hover table-sm">
                <thead class="bgcolor text-white">
                    <tr>
                        <th>Unique LoginID</th>
                        <th>Email</th>
                        <th>Mobile No</th>
                        <th>Registration Date</th>
                        <th>Is Deleted</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in credentials)
                    {
                        <tr>
                            <td>@data.UniqueLoginID</td>
                            <td>@data.Email</td>
                            <td>@data.MobileNo</td>
                            <td>@data.RegistrationDate.ToShortDateString()</td>
                            <td>@data.IsDelete</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@code {
    private List<UserLoginCredentials> credentials;

    protected override async Task OnInitializedAsync()
    {
        // Fetch users from the AspNetUsers table
        credentials = await DbContext.UserLoginCredentials.ToListAsync();
    }
}
